@media only screen and (max-width: 767px) {
  .nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 0;
  }

  button {
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    padding: 25px;
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(240, 67%, 8%);
  }

  li {
    list-style: none;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    background-color: hsl(240, 67%, 8%);
  }

  .arrow-menu {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
  }

  .text-placeholder {
    flex: 1;
  }

  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .text-menu-planet {
    text-transform: uppercase;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    font-family: "Spartan", sans-serif;
    color: white;
  }
}
