@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('./spartan-cufonfonts/Spartan-Medium.ttf'); */

@font-face {
  font-family: 'Spartan';
  src: url('./spartan-cufonfonts/Spartan-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Spartan';
  src: url('./spartan-cufonfonts/Spartan-SemiBold.ttf');
  font-weight: 600;
}


:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
:hover,
button {
  cursor: url('../public/icons8-rocket-24.png')16 0, auto;
}

html,
body {
  min-height: 100vh;
  max-width: 100%;
  background-color: hsl(240, 67%, 8%);
  background-image: url('./assets/background-stars.svg');
  color: rgba(255, 255, 255, 0.75);
  padding-bottom: 2vh;


}

.App {
  min-height: 100vh;
  width: 100%;
  position: relative;

}